@import '/src/palette.scss';

.component {
  display: flex;
  align-items: center;
  background-color: $color-incomplete-background;
  color: $color-incomplete-text;

  .expander {
    flex: 1 1 auto;
  }
}

.component[data-state*='completed'] {
  background-color: $color-complete-background;
}
