@import '/src/palette.scss';

.component {
  background-color: $color-form-background;
  padding: 24px 16px 30px 40px;
  box-sizing: border-box;
  color: $color-form-font;
  justify-content: space-between;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-border-nonfocused;
  }
  input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid $color-border-focused;
  }

  .spacer {
    min-width: 16px;
    min-height: 21px;
  }
}

.component[data-state*='locked'] {
  background-color: $color-form-disabled;
}

.component[data-state*='drawClosed'] {
  padding: 4px;
  height: 24px;
}
