@import '/src/palette.scss';

.component {
  display: flex;
  align-items: center;
  background-color: $color-incomplete-background;
  color: $color-incomplete-text;
}

// .component[data-state='stepInprogress_dataIncomplete_unLocked_drawClosed'] {
//   background-color: red;
// }

// .component[data-state='stepInprogress_dataComplete_unLocked_drawClosed'] {
//   background-color: purple;
// }

.component[data-state*='stepComplete'] {
  background-color: $color-complete-background;
}
