@import '/src/palette.scss';

.component {
  outline: none;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  color: $color-incomplete-text;

  .button-ring {
    margin: 2px;
  }
}

.component.incomplete {
  background-color: $color-incomplete-background;
}

.component.complete {
  background-color: $color-complete-background;
}

/**
  * Idle state
  */
.component[data-state='idle'] {
  &:hover {
    cursor: pointer;
    > .button-ring {
      outline: $color-ring-outline solid 1px;
    }
  }
}

/**
  * Focused state
  */
.component[data-state='focused'] {
  &:hover {
    cursor: pointer;
    > .button-ring {
      outline: $color-ring-outline solid 1px;
    }
  }

  // > .button-ring {
  //   outline: $color-ring-outline solid 1px;
  //   cursor: pointer;
  // }
  &:active {
    background-color: $color-complete-background;
  }
}

/**
  * Disabled state
  */
.component[data-state='disabled'] {
  outline: none;
  cursor: not-allowed;
}
