// Naming: https://medium.com/eightshapes-llc/naming-tokens-in-design-systems-9e86c7444676
// System, Element, Category, Concept, Property, Variant, State

$color-incomplete-background: #3064ca; // Category, Concept, Property
$color-complete-background: #29a61b; // Category, Concept, Property
$color-incomplete-text: #ffffff; // Category, Concept, Property
$color-complete-text: #ffffff; // Category, Concept, Property

$color-ring-outline: #ffffff;
$color-font: #ffffff; // Category, Property
$color-form-font: #696969; // Category, Component, Property
$color-form-disabled: #fafafa; // Category, Component, Variant
$color-font-disabled: #c0c0c0; // Category, Property, Variant
$color-form-background: #ffffff; // Category, Component, Property
$color-border-focused: #3064ca; // Category, Property, Variant
$color-border-nonfocused: #696969; // Category, Property, Variant
